LMSG04.1/Ejercicio 1/index.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cifp">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumne" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nom" type="xs:string" minOccurs="1" />
                            <xs:element name="llinatges" type="xs:string" minOccurs="1" />

                            <xs:element name="data_naixement" type="xs:string" />

                            <xs:element name="correu" type="xs:string" />
                            <xs:element name="telefon" type="xs:string" />
                            <xs:element name="adreca" type="xs:string" />

                            <xs:element name="data_matricula" type="xs:string" />

                            <xs:element name="curs">
                                <xs:complexType>
                                    <xs:attribute name="nom" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="DAW"/>
                                                <xs:enumeration value="DAM"/>
                                                <xs:enumeration value="ASIX"/>
                                                <xs:enumeration value="SMX"/>
                                                <xs:enumeration value="SEIA"/>
                                                <xs:enumeration value="ER"/>
                                                <xs:enumeration value="AUT"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:integer" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>

                <xs:element name="professor" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nom" type="xs:string" minOccurs="1" />
                            <xs:element name="llinatges" type="xs:string" minOccurs="1" />

                            <xs:element name="data_naixement" type="xs:string" />

                            <xs:element name="correu" type="xs:string" />
                            <xs:element name="telefon" type="xs:string" />
                            <xs:element name="adreca" type="xs:string" />

                            <xs:element name="data_incorporacio" type="xs:string" />

                            <xs:element name="departament">
                                <xs:complexType>
                                    <xs:attribute name="nom" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Informàtica"/>
                                                <xs:enumeration value="Electricitat"/>
                                                <xs:enumeration value="Automoció"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="assignatura" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="data_inici" type="xs:string" />
                                        <xs:element name="data_final" type="xs:string" />
                                        
                                        <xs:element name="nom_assignatura">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">

                                                        <xs:attribute name="cicle" use="required">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="DAW"/>
                                                                    <xs:enumeration value="DAM"/>
                                                                    <xs:enumeration value="ASIX"/>
                                                                    <xs:enumeration value="SMX"/>
                                                                    <xs:enumeration value="SEIA"/>
                                                                    <xs:enumeration value="ER"/>
                                                                    <xs:enumeration value="AUT"/>
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute name="id_assignatura" type="xs:integer" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:integer" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>